/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
button {
  border: none;
  background: transparent;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: hsl(319, 16%, 39%);
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.grid-background {
  position: fixed !important;
  bottom: 0;
  pointer-events: none !important;
}

main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100dvh;
}

.card-selector {
  /* grid-area: 1 / 1 / 7 / 2; */
  padding: 1rem 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  grid-area: 6 / 1 / 7 / 7;
  z-index: 10;

  button {
    width: 80px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    outline: 3px solid white;
    -webkit-transition-timing-function: cubic-bezier(0.47, 0.0, 0.745, 0.715);
    -moz-transition-timing-function: cubic-bezier(0.47, 0.0, 0.745, 0.715);
    -o-transition-timing-function: cubic-bezier(0.47, 0.0, 0.745, 0.715);
    transition-timing-function: cubic-bezier(0.47, 0.0, 0.745, 0.715);

    -webkit-transition: all 200ms cubic-bezier(0.47, 0.0, 0.745, 0.715);
    -moz-transition: all 200ms cubic-bezier(0.47, 0.0, 0.745, 0.715);
    -o-transition: all 200ms cubic-bezier(0.47, 0.0, 0.745, 0.715);
    transition: all 200ms cubic-bezier(0.47, 0.0, 0.745, 0.715);
  }

  button:hover {
    transform: scale(1.1);
  }
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* grid-area: 1 / 2 / 7 / 7; */
  gap: 2rem;
  grid-area: 1 / 1 / 6 / 7;
}

.card-changer {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  padding: 0.5rem;
  min-width: 2rem;
  aspect-ratio: 1;
}

.card-carousel {
  display: grid;
}

.heads-up {
  position: absolute;
  top: 0;
  color: hsl(20, 100%, 80%);
  font-size: 1rem;
  z-index: 20;

  a {
    text-decoration: none;
    color: white;
  }

  a::before {
    display: inline-block;
    position: absolute;
    inset: 0;
  }

  .doobly-doo {
    padding: 1rem;
    max-width: 30ch;
    pointer-events: auto;

    p {
      line-height: 1.125rem;
    }
  }

  .links {
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
  }
}

@media (width < 48rem) {
  .card-selector {
    grid-area: 6 / 1 / 7 / 7;
    padding: 1rem 4rem;
  }

  .card-container {
    padding-top: 8rem;
    grid-area: 1 / 1 / 6 / 7;
    gap: 0.75rem;
  }

  .heads-up {
    font-size: 0.75rem;

    .doobly-doo p {
      line-height: 0.75rem;
    }
  }
}
